@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Inter:wght@100;200;300;400;500;600&family=Josefin+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Lato:wght@700&family=League+Spartan:wght@400;500;600;700&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Noto+Sans:wght@400;700&family=Pacifico&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Righteous&family=Sarala:wght@400;700&family=Silkscreen&family=Tiro+Devanagari+Sanskrit:ital@0;1&family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

.container {
    width: 1440px;
    height: 780px;

    background-color: #fff;

    display: flex;
    flex-direction: row;
}

.tela1 {
    width: 720px;
    height: 780px;

    background-color: #121214;
}

.tela1 img {
    margin-top: 50px;
    margin-left: 30px;
}

.text {
    width: 647px;
    height: 102px;

    margin-top: 92px;
    margin-left: 36px;
}

.text h1 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    color: #08c05e;
}

.text h2 {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    color: #ffffff;

    margin-top: 8.56px;
    margin-bottom: 9px;
}

.text p {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;

    color: #ffffff;
}

.tela2 {
    width: 720px;
    height: 784px;

    background-color: #c4c4c4;
}

.form {
    width: 789px;
    height: 84px;

    margin-top: 50px;
    margin-left: 36px;
}

.form h2 {
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    color: #ababab;

    width: 133px;
    height: 19px;

    margin-bottom: 17px;
}

.input__section {
    width: 789px;
    
    display: flex;

    border-left: 3px solid #00ff00;

    box-shadow: 2px 2px 8px #505050;
}

.input__section--input {
    border: none;
    
    width: 100%;

    padding: 2px;
}

.input__section--icon {
    background-color: #8257e5;

    padding: 8px;
    color: white;
}

.link {
    margin-top: 50px;
    margin-left: 36px;

    width: 196px;
    height: 24px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.link h2 {
    width: 167px;
    height: 19px;

    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;

    color: #8257e5;
}
